{% extends 'base.html.twig' %}

{% block title %}Login DFSCOM{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 bg-light">
                img
            </div>
            <div class="col-6 bg-black bg-opacity-10">
                form
            </div>
        </div>
    </div>
{% endblock %}
